.icon-html{background:url('../images/ico/ic_html_filled_24@3x.png') round}
.icon-css{background:url('../images/ico/ic_css_filled_24@3x.png') round}
.icon-javascript{background:url('../images/ico/ic_javascript@3x.png') round}
.icon-jsx{background:url('../images/ico/ic_javascript@3x.png') round}
.icon-js{background:url('../images/ico/ic_javascript@3x.png') round}
.icon-python{background:url('../images/ico/ic_python_filled_24@3x.png') round}
.icon-java{background:url('../images/ico/ic_java_filled_24@3x.png') round}
.icon-json{background:url('../images/ico/ic_json_filled_24@3x.png') round}
.icon-typescript{background:url('../images/ico/ic_typescript_filled_24@3x.png') round}
.icon-tsx{background:url('../images/ico/ic_typescript_filled_24@3x.png') round}
.icon-ts{background:url('../images/ico/ic_typescript_filled_24@3x.png') round}
.icon-sql{background:url('../images/ico/ic_sql_filled_24@3x.png') round}
.icon-xml{background:url('../images/ico/ic_xml_filled_24@3x.png') round}
.icon-vue{background:url('../images/ico/ic-vue-filled-24@3x.png') round}
.icon-md{background:url('../images/ico/ic-md-filled-16@3x.png') round}
.icon-markdown{background:url('../images/ico/ic-md-filled-16@3x.png') round}